*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  height: calc(100vh - 200px);
  display: flex;
}

#content{
  height: 100%;
  width: calc(100vw - 300px);
  background-color: #141922;
  overflow-y: auto;
}

footer{
  height: 200px;
  background-color: #080B12;
}

/* sidebar */
#sidebar{
  width: 300px;
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-large{
  width: 70%;
  margin-bottom: 30px;
  display: block;
}

.logo-small{
  display: none;
  margin-bottom: 30px;
}


.home{
  position: relative;
  height: max-content;
}

.home::after{
  content: attr(a);
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: greenyellow;
  position: absolute;
}

.home-search-library div:hover{
  color: white;
}
.home-search-library img{
  width: 13%;
  margin-right: 10px;
}

.top-side, .bottom-side{
  color: #A3A3A3;
  font-size: 20px;
  padding: 25px;
}

.mb-10{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.fs-25{
  font-size: 21px;
  padding: 10px 0;
}
.text-white{
  color: white;
}

.crea h4, li:hover{
  color: white;
}

.plus-entity{
  color: black;
  background-color: #A3A3A3;
  font-size: 35px;
  padding: 0 12px;
  margin-right: 10px;
  font-weight: bolder;
}

.crea li{
  list-style-type: none;
  line-height: 50px;
}

.install{
  padding: 15px 0px;
}
.down-arrow{
  font-size: 12px;
  margin-right: 10px;
  border: #7A7D81 1px solid;
  border-radius: 30px;
  padding: 2px 6px;

}
.profile{
  display: flex;
  align-items: center;
  padding: 10px 0px;
  border-top: #7A7D81 1px solid;
}
.profile img{
  width: 12%;
  background-color: #7A7D81;
  border-radius: 50px;
  padding: 0 2px;
  margin-right: 10px;
}

.profile-name{
  color: white;
}

/* header */
.header{
  background-color: #080B12;
  padding: 10px 0;
}

.header-container{
  display: flex;
  justify-content: flex-end;
  margin: 30px ;
}

.upgrade{
    color: rgb(255, 255, 255);
    margin-right: 20px ;
    padding: 10px 20px;
    border-radius: 40px;
    border: white 1px solid;
}

.column:hover {
  transform: scale(1,2);
}

.page-row{
 padding: 20px;
 display: flex;
 justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  list-style-type: none;
  color: #7A7D81;
  font-size: 24px;
}

.page-row span:hover{
  color: white;
}

.evidenza{
  position: relative;
  width: max-content;
}

.evidenza::after{
  content: attr(a);
  background: greenyellow;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

}

.recently-played{
  margin: 20px;
}
.rp-title{
  color: white;
  font-size: 30px;
  padding: 20px 0;
}


.songs{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col{
  text-align: center;
}

.album{
  color: white;
  padding: 10px 0;
}

.subtitle{
  color: #7A7D81;
  font-weight: 900;
  font-size: 20px;
}

.image{
  position: relative;
}
.image img{
  display: block;
  width: 100%;
}

.image i {
  opacity: 0;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 500%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

.image i:hover{
  opacity: 1;
  cursor: pointer;
}

/* personalised songs */
.personalised-section{
  margin: 20px;
}

.title{
  color: white;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.desc{
  color: #7A7D81;
  font-size: 20px;
  padding-bottom: 30px;
}

/* Artists */
.artists{
  margin: 20px;
}

.round-border img{
  border-radius: 50%;
}

.width94 img{
  width: 94%;
}

/* footer */

.footer-container{
  padding: 30px;
  position: relative;
  z-index: 1000;
}

.footer-row{
  display: flex;
  flex-wrap: wrap;
}

.playing{
  width: 15%;
  display: flex;
  align-items: center;
}

.playing img{
  width: 24%;
  margin-right: 20px;
}

.song{
  margin-right: 80px;
}
.song-title{
  color: white;
}

.singer{
  color: #7A7D81;
  font-size: 20px;
}
.singer:hover{
  color: white;
  text-decoration: underline;
}

.icons{
  color: #7A7D81;
  font-size: 30px;
}
.icons:hover{
  color: white;
}

.player-controller{
  width: 70%;
}

.controller-icons{
  display: flex;
  justify-content: center;
  color: rgb(204, 203, 203);
  gap: 50px;
  font-size: 40px;
  margin-bottom: 40px;
}

.fa-circle-play:hover{
  color: white;
}

.controller-time{
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-stamp{
  color: white;
}
.player-bar{
  width: 60%;
  background-color: grey;
  height: 5px;
  border-radius: 5px;
  margin: 0 10px;
}

.elapsed-time{
  position: relative;
  top: 0;
  left: 0;
  background-color: silver;
  height: 5px;
  width: 20%;
  border-radius: 5px;
}

.controller-point{
  position: relative;
  left: 100%;
  bottom: 100%;
  display: none;
  width: 15px;
  height: 15px;
  background-color: silver;
  border-radius: 50%;
  border: 1px solid black;
}

.controller-time:hover .elapsed-time{
  background-color: green;
}

.controller-time:hover .controller-point{
  display: block;
}

.sound-adjust{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.right-icons{
  color: white;
  font-size: 30px;
}

.volume{
   width: 50%;
  background-color: grey;
  height: 5px;
  border-radius: 5px;
}

.volume-adjustment{
  position: relative;
  top: 0;
  left: 0;
  background-color: silver;
  height: 5px;
  width: 20%;
  border-radius: 5px;
}

.sound-adjust:hover .volume-adjustment{
  position: relative;
  background-color: green;
}

@media all and (max-width: 764px){
  #sidebar{
    width: 75px;
  }

  .top-side, .bottom-side{
    padding: 10px;
  }
  .logo-large{
    display: none;
  }
  .logo-small{
    display: block;
    margin: 0;
  }

  .home-search-library span{
    display: none;
  }
  
  .text-white{
    display: none;
  }
  
  .crea h4, li{
    display: none;
  }

  .home-search-library img{
    width: 100%;
  }

  .profile img{
    width: 100%;
  }

  .install{
    text-align: center;
  }
  .install-text{
    display: none;
  }
  .profile-name{
    display: none;
  }
#content{
  height: 100%;
  width: calc(100vw - 75px);
  background-color: #141922;
  overflow-y: auto;
}

}